* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  /*margin: 0;*/
  background-color: #C48423;
}

header {
  padding:10px;
  background-color: #000000;
  height: 40px;
  opacity: 0.5;
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: lighter;
}

#container {
  margin: 0 auto;
  height: 90%;
  width: 90%;
  padding-bottom: 25px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#main {
  height: 50%;
  width: 55%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

label {
  display: block;
  font-style: italic;
  font-family: Open Sans;
  font-size: 12px;
}

#items {
  /*border: solid 2px black;*/
  float: left;
  width: 70%;
  height: 40%;
  background-color: #FFFFFF;
}

#foodForm {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

#selector {
  /*width: 100%;
  height: 100%;*/
  /*border: solid 2px black;*/
  float: left;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

option {
  font-family: Open Sans;
  font-size: 15px;
}

#quan {
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  font-size: 20px;
  font-family: Open Sans;
}

#add {
  background-color: #5973A6;
  height: 30px;
  width: 100px;
  color: #FFFFFF;
  align-self: flex-end;
}

#text {
  height: 50%;
  width: 55%;
}

#infoForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}


#name, #phone, #address {
  background-color: #FAFFBD;
  height: 35px;
}

#deliver {
  background-color: #59A673;
  height: 30px;
  width: 225px;
  color: #FFFFFF;
}

aside {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#orderTotal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#order {
  /*border: solid 2px blue;*/
  width: 100%;
  height: 100%;
  float: right;
  background-color: #FFFFFF;
  font-family: Open Sans;
  font-size: 15px;
}

#total {
  /*border: solid 2px blue;*/
  width: 100%;
  height: 40%;
  background-color: #FFFFFF;
  font-family: Open Sans;
  font-size: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: -25px;
  height: 25px;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
