* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

header {
  padding:10px;
  background-color: #000000;
  height: 40px;
  opacity: 0.5;
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: lighter;
}
